In [6]:
import sqlite3
import pandas as pd

In [7]:
# DBファイルを保存するためのファイルパス
path = '/Users/macuser/Desktop/dsp2_work/' # ローカル（自分のMac）

# DBファイル名
db_name = 'db.sqlite'

# DBに接続する（指定したDBファイル存在しない場合は，新規に作成される）
con = sqlite3.connect(path + db_name)

# SQLクエリ
sql_query = "SELECT * FROM local_data JOIN weather_data ON local_data.month = weather_data.month;"

# データを取得してDataFrameに格納
df = pd.read_sql(sql_query, con)

# DBへの接続を閉じる
con.close()

In [8]:
df

,month,number_of_steps,water_price,gas_price,sleeping_time,month,pressure,temperature,humidity
0,1,3715,4243,7957,380,1,1013.4,8.0,5.7
1,2,2463,4141,6089,392,2,1016.6,27.5,7.3
2,3,9700,3016,4149,304,3,1016.2,32.0,12.9
3,4,6501,2085,2335,322,4,1011.5,33.0,16.3
4,5,5639,2563,6367,349,5,1011.0,43.5,19.0
5,6,8537,3119,6164,365,6,1006.1,168.5,23.2
6,7,5539,1837,6947,343,7,1007.2,13.5,28.7
7,8,8734,2274,4376,324,8,1007.0,48.5,29.2
8,9,11962,2200,2556,345,9,1009.7,107.5,26.7
9,10,13416,2697,2715,323,10,1011.6,43.5,18.9
10,11,7952,3168,3449,324,11,1013.9,33.5,14.4
11,12,6647,3823,7437,394,12,1015.4,15.5,9.4

In [9]:
# データの先頭行を表示
df.head()

,month,number_of_steps,water_price,gas_price,sleeping_time,month,pressure,temperature,humidity
0,1,3715,4243,7957,380,1,1013.4,8.0,5.7
1,2,2463,4141,6089,392,2,1016.6,27.5,7.3
2,3,9700,3016,4149,304,3,1016.2,32.0,12.9
3,4,6501,2085,2335,322,4,1011.5,33.0,16.3
4,5,5639,2563,6367,349,5,1011.0,43.5,19.0

In [10]:
# データの基本的な統計情報を表示
df.describe()

,month,number_of_steps,water_price,gas_price,sleeping_time,month,pressure,temperature,humidity
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,6.500000,7567.083333,2930.500000,5045.083333,347.083333,6.500000,1011.633333,47.875000,17.641667
std,3.605551,3179.893836,806.145994,2015.271399,29.815976,3.605551,3.616461,45.785133,8.115805
min,1.000000,2463.000000,1837.000000,2335.000000,304.000000,1.000000,1006.100000,8.000000,5.700000
25%,3.750000,5614.000000,2255.500000,3265.500000,323.750000,3.750000,1009.075000,24.500000,12.025000
50%,6.500000,7299.500000,2856.500000,5232.500000,344.000000,6.500000,1011.550000,33.250000,17.600000
75%,9.250000,8975.500000,3331.750000,6512.000000,368.750000,9.250000,1014.275000,44.750000,24.075000
max,12.000000,13416.000000,4243.000000,7957.000000,394.000000,12.000000,1016.600000,168.500000,29.200000