In [3]:
import sqlite3
import pandas as pd

In [6]:
# DBファイルを保存するためのファイルパス
path = '/Users/macuser/Desktop/dsp2_work/' # ローカル（自分のMac）

# DBファイル名
db_name = 'db.sqlite'

# DBに接続する（指定したDBファイル存在しない場合は，新規に作成される）
con = sqlite3.connect(path + db_name)

# SQLクエリ
sql_query = "SELECT * FROM local_data JOIN weather_data ON local_data.time = weather_data.time;"
sql_query = "SELECT * FROM weather_db JOIN weather_local_db ON weather_db.time = weather_local_db.time;"
# データを取得してDataFrameに格納
df = pd.read_sql(sql_query, con)

# DBへの接続を閉じる
con.close()

DatabaseError: Execution failed on sql 'SELECT * FROM local_data JOIN weather_data ON local_data.time = weather_data.time;': no such column: local_data.time

In [27]:
df

,time,pressure,temperature,humidity,time,pressure_local,temperature_local,humidity_local
0,1,1009.8,2.4,62,1,0,0,0
1,2,1009.8,1.7,62,2,0,0,0
2,3,1008.9,0.9,65,3,0,0,0
3,4,1008.6,1.5,60,4,0,0,0
4,5,1008.2,1.3,65,5,0,0,0
5,6,1008.3,0.9,64,6,0,0,0
6,7,1008.2,1.1,55,7,0,0,0
7,8,1007.9,1.8,53,8,0,0,0
8,9,1007.2,5.1,48,9,0,0,0
9,10,1006.3,8.5,50,10,0,0,0
10,11,1005.3,9.5,41,11,0,0,0
11,12,1004.1,11.6,40,12,0,0,0
12,13,1003.3,12.6,39,13,0,0,0
13,14,1002.7,13.0,41,14,0,0,0
14,15,1003.0,13.5,42,15,0,0,0
15,16,1003.2,12.3,48,16,0,0,0
16,17,1003.6,10.3,57,17,0,0,0
17,18,1004.0,9.9,61,18,0,0,0
18,19,1004.8,9.4,58,19,0,0,0
19,20,1005.3,9.5,46,20,0,0,0
20,21,1005.6,10.0,45,21,0,0,0
21,22,1006.1,8.8,49,22,0,0,0
22,23,1006.5,8.0,51,23,0,0,0
23,24,1006.3,6.4,58,24,0,0,0

In [30]:
# データの先頭行を表示
df.head()

,time,pressure,temperature,humidity,time,pressure_local,temperature_local,humidity_local
0,1,1009.8,2.4,62,1,0,0,0
1,2,1009.8,1.7,62,2,0,0,0
2,3,1008.9,0.9,65,3,0,0,0
3,4,1008.6,1.5,60,4,0,0,0
4,5,1008.2,1.3,65,5,0,0,0

In [31]:
# データの基本的な統計情報を表示
df.describe()

,time,pressure,temperature,humidity,time,pressure_local,temperature_local,humidity_local
count,24.000000,24.000000,24.000000,24.000000,24.000000,24.0,24.0,24.0
mean,12.500000,1006.125000,7.083333,52.500000,12.500000,0.0,0.0,0.0
std,7.071068,2.237089,4.491409,8.632597,7.071068,0.0,0.0,0.0
min,1.000000,1002.700000,0.900000,39.000000,1.000000,0.0,0.0,0.0
25%,6.750000,1004.075000,1.775000,45.750000,6.750000,0.0,0.0,0.0
50%,12.500000,1006.200000,8.650000,52.000000,12.500000,0.0,0.0,0.0
75%,18.250000,1008.200000,10.075000,60.250000,18.250000,0.0,0.0,0.0
max,24.000000,1009.800000,13.500000,65.000000,24.000000,0.0,0.0,0.0